/target
/dist
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
worker/
node_modules/
.cargo-ok
.env
.mf
.wrangler
wrangler.toml
dev.sql
prisma/migrations/
wrangler.toml
prisma/dev.db
prisma/dev.db-journal
